/**-----------------My css here---------------*/
* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
}
div {
  padding: 20px;
}
.to-do {
  background-color: #61dafb;
}
.creat-name {
  background-color: blue;
}
.alert-button {
  background-color: purple;
}
/**-----------------My css here---------------*/
